datasets/gt_3Dmodels/
datasets/imgs_datasets/
detectors/point2d/SuperPoint/weights/
visualization/
visualization_all/
logs/
pre_train_logs/
experiments/
__pycache__/
train_test_datasets/
train_test_datasets_origin/

*.npy
*.png
*.jpg
*.pyc
*.tar
*.obj
*.pth
*.gif
*.mp4
*.h5
*.swp
*.zip
*.tar.gz
*.th
*.so

.vscode