datasets/gt_3Dmodels/
datasets/imgs_datasets/
datasets/__pycache__/
detectors/line2d/__pycache__/
detectors/line2d/DeepLSD/__pycache__/
detectors/line2d/LSD/__pycache__/
detectors/point2d/__pycache__/
detectors/point2d/SuperPoint/__pycache__/
detectors/point2d/SuperPoint/weights/
util/__pycache__/
visualization/
visualization_all/
logs/
experiments/

*.npy
*.png
*.jpg
*.pyc
*.tar
*.obj
*.pth
*.gif
*.mp4
*.h5
*.swp
*.zip
*.tar.gz
*.th
*.so

.vscode